#welc {
    display: flex;
    justify-content: center;
    background: black;
    color: aqua;
    height: 55px;
    font-size: 3em;
}
#navi {
    display: flex;
    justify-content: space-around;
    background-color: rgb(85, 83, 83);
}
.navic {
    font-size: 2em;
    color: rgb(43, 238, 9);
    font-family: monospace;
}
.introp {
    background-color: rgb(37, 228, 168);
    height: 180px;
    border: 5px solid red;
    border-radius: 45px;
}
.main {
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8em;
}
.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.experp {
    background-color: rgb(225, 159, 108);
    height: 180px;
}
.contap {
    background-color: rgb(221, 225, 156);
    height: 180px;
}